@media (max-width:767px) {

    .top {
        background: url(img/topmob.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &__welcome {
            display: flex;
            width: 349px;
            font-size: 32px;
            line-height: normal;
            text-align: center;
            justify-content: center;
        }

        &__text {
            text-align: center;

            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            width: 300px;


            &_bold {
                font-size: 18px;
                font-weight: 700;
            }

        }

        &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .game {
        background: #000915;
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
    }

    .game__season_box {
        display: flex;
        align-items: center;
        gap: 32px;
        padding-top: 51px;
        width: 343px;
        
        margin-bottom: 0;
        padding-bottom: 0;
    }
    

    .game__selection {
        display: flex;
        flex-wrap: wrap;
    }

    .game__season_title {
        text-align: center;
        font-size: 32px;
        line-height: 39px
    }

    .game__season_text {
        font-size: 14px;
        line-height: 22px
    }

    .game__picture {
        background: url(img/Picture1mini.svg);
        background-repeat: no-repeat;
        width: 344px;
        height: 236px;
        margin-top: 0;
        margin-bottom: 84px;
    }

    .gameTwo{
        background: #000915;
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
    }
    .game__remember_box{
        display: flex;
        align-items: center;
        gap: 32px;
        padding-top: 51px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .game__remember_title{
        text-align: center;
        font-size: 30px;
        line-height: 39px
    }
    .game__remember_text{
        text-align: center;
        font-size: 14px;
        line-height: 22px
        
    }
    .gameTwo__picture{
        display: flex;
    flex-direction: column;
        background: url(img/Picture1mini.svg);
        background-repeat: no-repeat;
        width: 344px;
        height: 236px;
        margin-top: 0;
        margin-bottom: 84px;

    }
.game__picture_remember{
    padding-top: 64px;
    padding-bottom: 90px;
}

    .center {
        padding-left: max(16px, calc(50% - 343px/2));
        padding-right: max(16px, calc(50% - 343px/2));
    }
}