* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.top {
  background: url(img/top.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top__welcome {
  color: #FFF;
  width: 788px;
  font-weight: 700px;
  font-size: 64px;
  font-style: normal;
  line-height: 78px;
  padding-top: 217px;
  padding-bottom: 32px;
}

.top__text {
  padding-bottom: 44px;
  width: 440px;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #FFF;
}
.top__text_bold {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
}

.button__box {
  padding-bottom: 506px;
}

.button__go {
  background: #9C0332;
  border: none;
  box-sizing: border-box;
  border-radius: 30px;
  width: 234px;
  height: 48px;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  transition: all 0.3s;
}
.button__go:hover {
  background: #EB443F;
  color: #FFFFFF;
  cursor: pointer;
}

.game__box1 {
  border: none;
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%);
  background: no-repeat;
  background-image: url(img/game1.jpg);
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
}
.game__box1:hover {
  border-radius: 16px;
  border: 3px solid #44D2FF;
  cursor: pointer;
}

.game__box2 {
  border: none;
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%);
  background: no-repeat;
  background-image: url(img/game2.jpg);
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
}
.game__box2:hover {
  border-radius: 16px;
  border: 3px solid #44D2FF;
  cursor: pointer;
}

.game__box3 {
  border: none;
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%);
  background: no-repeat;
  background-image: url(img/game3.jpg);
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
}
.game__box3:hover {
  border-radius: 16px;
  border: 3px solid #44D2FF;
  cursor: pointer;
}

.game__name {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  color: #FFF;
  text-decoration: none;
  position: relative;
  top: 236px;
  left: 32px;
}

.game__selection {
  background: #000915;
  display: flex;
  flex-direction: row;
  padding-top: 128px;
  padding-bottom: 128px;
  gap: 32px;
}

.game {
  background: #000915;
  display: flex;
  justify-content: space-between;
}

.game__season_box {
  width: 584px;
  padding-top: 282px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.game__season_title {
  font-size: 48px;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 59px;
}

.game__season_text {
  font-size: 18px;
  color: #FFFFFF;
  line-height: 32px;
  font-weight: 300;
}

.button__play {
  background: #9C0332;
  border: none;
  box-sizing: border-box;
  border-radius: 30px;
  width: 234px;
  height: 48px;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  transition: all 0.3s;
}
.button__play:hover {
  background: #EB443F;
  color: #FFFFFF;
  cursor: pointer;
}

.game__picture_season {
  padding-top: 233px;
}

.game__picture {
  background: url(img/Picture1.svg);
  background-repeat: no-repeat;
  width: 485px;
  height: 333px;
}

.gameTwo {
  background: #000915;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.game__remember_box {
  padding-top: 282px;
  width: 588px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.game__remember_title {
  font-size: 48px;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 59px;
}

.game__picture_remember {
  padding-top: 239px;
  padding-bottom: 239px;
}

.gameTwo__picture {
  background: url(img/undraw_gaming_re_cma2\ 1.svg);
  background-repeat: no-repeat;
  width: 481px;
  height: 322px;
}

.center {
  padding-left: max(120px, 50% - 720px);
  padding-right: max(120px, 50% - 720px);
}

.game__remember_text {
  font-size: 18px;
  color: #FFFFFF;
  line-height: 32px;
  font-weight: 300;
}

@media (max-width: 767px) {
  .top {
    background: url(img/topmob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .top__welcome {
    display: flex;
    width: 349px;
    font-size: 32px;
    line-height: normal;
    text-align: center;
    justify-content: center;
  }
  .top__text {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    width: 300px;
  }
  .top__text_bold {
    font-size: 18px;
    font-weight: 700;
  }
  .top__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .game {
    background: #000915;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
  .game__season_box {
    display: flex;
    align-items: center;
    gap: 32px;
    padding-top: 51px;
    width: 343px;
    height: 217px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .game__selection {
    display: flex;
    flex-wrap: wrap;
  }
  .game__season_title {
    font-size: 32px;
    line-height: 39px;
  }
  .game__season_text {
    font-size: 14px;
    line-height: 22px;
  }
  .game__picture {
    background: url(img/Picture1mini.svg);
    background-repeat: no-repeat;
    width: 344px;
    height: 236px;
    margin-top: 0;
    margin-bottom: 84px;
  }
  .gameTwo {
    background: #000915;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
  .game__remember_box {
    display: flex;
    align-items: center;
    gap: 32px;
    padding-top: 51px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .game__remember_title {
    font-size: 30px;
    line-height: 39px;
  }
  .game__remember_text {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
  }
  .gameTwo__picture {
    display: flex;
    flex-direction: column;
    background: url(img/Picture1mini.svg);
    background-repeat: no-repeat;
    width: 344px;
    height: 236px;
    margin-top: 0;
    margin-bottom: 84px;
  }
  .game__picture_remember {
    padding-top: 64px;
    padding-bottom: 90px;
  }
  .center {
    padding-left: max(16px, 50% - 171.5px);
    padding-right: max(16px, 50% - 171.5px);
  }
}/*# sourceMappingURL=style.css.map */